<div class="sidebar">
             <center>
                <img src="/image/nartoside.png" alt="sidebarnaruto" class="sidebar-foto">
                <h4>GenKi</h4>
             </center>
             <a href="/Obezite"><i> <img src="/image/question.png" alt=""> </i><span>Obezite Nedir ?</span></a>
             <a href="/boyyas"><i> <img src="/image/question.png" alt=""> </i><span> Boya ve Yaşa göre VKİ</span></a>
             <a href="/beslenme"><i> <img src="/image/question.png" alt=""> </i><span>Beslenme Tavsiyeleri</span></a>
             <a href="/tip12"><i> <img src="/image/question.png" alt=""> </i><span>Tip-1 ve Tip-2 Diyabet</span></a>
             <a href="/sorular"><i> <img src="/image/question.png" alt=""> </i><span>Sıkça sorulan sorular</span></a>
             <a href="/iletisim" target="_blank" rel="noopener noreferrer"><i> <img src="/image/telephone.png"> </i><span>iletişim</span></a>
            
         </div>