       <div class="HERO">
        <input type="checkbox" id="check">
           <div class="navbar">
               <img src="/image/nartoside.png" alt="logo" id="logo" >
               <h2>Gen<span>Ki</span></h2>
               <ul> 
                   <li><a href="/">Anasayfa</a> </li>
                   <li><a href="/iletisim" target="_blank" rel="noopener noreferrer">İletişim</a> </li>
                   <li><a href="/users/login">Üye Giriş</a> </li>
                   <li><a href="/users/register">Üye Ol</a> </li>
               </ul>
               <div class="navbar-icons">
                    <img src="/image/bellbig.png" alt="bell">
                    <img src="/image/cute.png" alt="cute">
                    <label for="check">
                        <i class="fa-solid fa-bars" id="sidebar-btn"></i>
                </label>
               </div>
           </div>
           