<head>
    <link rel="stylesheet" href="beslenme.css">
</head>
<div class="beslenme-metin">
             <h1>Sağlıklı beslenme nasıl olur ?</h1>
             <p>
                Sağlıklı beslenme, hem sağlığın hem de vücut formunun korunması açısından en önemli konulardan bir tanesidir. <br>
                 Bebeklerde anne sütü veya formülalar ile başlayan süreçten, yetişkinlik ve yaşlılık dönemine kadar tüm yaş gruplarında <br>
                  sağlıklı ve dengeli beslenme konusunda gerekliliklerin yerine getirilmesi, hastalıklardan korunmak ve ideal vücut kütlesine <br>
                   sahip olmak açısından büyük önem taşır. Vücutta günlük işlevlerin sorunsuz bir şekilde yerine getirilebilmesi için <br>
                    tüm besin ögelerinin eksiksiz bir şekilde karşılanması gerekir. Bunun sağlanabilmesi için sağlıklı ve dengeli beslenme elzemdir. <br>
                     Ek olarak her yaştan birey için obezite, akut ve kronik birçok hastalık türü için en önemli risk faktörleri arasında yer alır. <br>
                      Dolayısıyla sağlıklı beslenme ve enerji ihtiyacına uygun kalori alımı ile vücut kütlesinin ideal aralıkta tutulması, <br>
                       hastalıklardan korunmak ve sağlıklı bir yaşam sürebilmek adına oldukça önemlidir. Tüm bu nedenlerden dolayı, bebeklikten <br>
                        yaşlılığa kadar insan ömrünün her döneminde sağlıklı beslenme konusunda gerekli özen gösterilmeli <br>
                         ve bu konuda bilinçli davranmaya gayret edilmelidir.
             </p>
             <img src="image/beslenme.jpg" alt="foto" class="foto">
             <h1>Sağlıklı Beslenme Nedir ?</h1>
             <p>
                İnsan vücudunda günlük fonksiyonların yerine getirilebilmesi için besinlere ihtiyaç duyulur. <br>
                 Tüketilen besinler vücutta fiziksel aktivite ve biyolojik işlevler için gereken enerji kaynağını oluşturur. <br>
                  Yediğimiz besinlerin içerisinde yer alan üç temel besin ögesi vardır. Bunlar karbonhidrat, protein ve yağlardır. <br>
                   Makro besin ögeleri olarak adlandırılan bu üç temel gruba ek olarak mikro besin ögeleri olan vitamin ve mineraller de <br>
                    besinlerle birlikte vücuda alınan diğer bileşenlerdir. Sindirim, solunum, boşaltım, solunum, dolaşım, sinir, <br>
                     iskelet ve kas sistemlerinin sorunsuz bir şekilde çalışması, hormonlar ve vücut salgılarının sağlıklı bir şekilde üretilmesi, <br>
                      motor becerilerle bilişsel fonksiyonların sağlıklı bir biçimde devam ettirilmesi için vitamin ve minerallere <br>
                       olan gereksinimlerin tam olarak karşılanması çok büyük bir öneme sahiptir. Ayrıca sindirim sistemi başta olmak üzere <br>
                        vücutta birçok sistemin düzenini korunabilmesi yalnızca sağlıklı ve dengeli bir beslenme planının uygulanması ile mümkündür. <br>
                         <strong> Sağlıklı beslenme, en temel anlamıyla tüm makro ve mikro besin ögelerini kişinin ihtiyaç duyduğu miktarlarda içeren, <br>
                          aynı zamanda bireyin ihtiyaç duyduğu <br>
                           enerji miktarını tam olarak karşılayan, ideal kilonun korunması için uygun olan beslenme türüdür. </strong> <br>
                           Her bireyin vücut kompozisyonu, yaşı, cinsiyeti ve sağlık durumu birbirinden farklı olduğundan <br>
                            sağlıklı beslenme programı olarak tanımlanabilecek tek bir liste söz konusu değildir. Sağlıklı beslenme listesi, <br>
                             genel kuralları belli olmasına karşın kişiye özgü olarak diyetisyen tarafından hazırlanmalıdır.
             </p>
             <h1>Sağlıklı Beslenme Neden Önemlidir ?</h1>
             <p>
                Vücut fonksiyonlarının sağlıklı bir şekilde sürdürülebilmesi için protein, karbonhidrat, yağ, vitamin, mineral ve diyet lifleri <br>
                 besinlerle birlikte yeterli miktarda vücuda alınmalıdır. Bunun için her besin türünden yeterli <br>
                  miktarda ve aşırıya kaçmadan tüketilmeli, diyette çeşitlilik sağlanmalıdır.
             </p>
             <p>
                <strong>Proteinler:</strong> Proteinler yapıcı ve onarıcı besin grubu olarak da adlandırılır ve insan vücudunun <br>
                 yapısında en fazla yer alan besin ögesidir. Ruhsal ve bilişsel işlevlerin desteklenmesi, motor becerilerin <br>
                  gerçekleştirilmesi ve bunun için gerekli olan enerjinin üretilmesi, bağışıklık sistemine ilişkin ögelerin ve <br>
                   kanın üretiminin sağlıklı olarak devam ettirilmesi ve daha birçok işlevin yerine getirilmesi için protein <br>
                    gereksinimi tam olarak karşılanmalıdır. Bitkisel ve hayvansal besinlerde değişen oranlarda bulunan protein,<br>
                     gençlerde ve özellikle de fiziksel aktivite düzeyi yüksek olan bedenen çalışan kişilerde ve sporcularda <br>
                      sağlıklı beslenme için gerekli olan protein miktarı artarken sedanter yaşam tarzına sahip olan bireyler <br>
                       ile karaciğer ve böbrek hastalarında besinlerle birlikte alınması gereken protein miktarı azalır. 
             </p>
             <p>
               <strong>Karbonhidratlar:</strong> Vücudun temel enerji kaynakları olan karbonhidratlar; <br>
                en fazla tahıllar, kuru baklagiller ve meyvelerde bulunur. Sağlıklı beslenmek isteyen bireylerin <br>
                 karbonhidrat gereksinimlerini tam olarak karşılamaya özen gösterirken bunları rafine şeker ve <br>
                  saflaştırılmış tahıllar yerine lif, vitamin ve mineral içeriği yüksek olan kompleks karbonhidratlardan <br>
                   (tam tahıllar, baklagiller vb.) karşılamalıdır. Bu sayede kilo kontrolü sağlanabilirken aynı <br>
                    zamanda enerji ve ruh halindeki dalgalanmaların önüne geçilebilir, kan şekeri kontrol altında tutulabilir.
             </p>
             <p>
               <strong>Yağlar:</strong> Bir diğer besin ögesi olan yağlar, kilo artışıyla en çok ilişkili olan ve <br>
                ölçülü olarak tüketilmesi gereken besin gruplarındandır. Bununla birlikte vücut fonksiyonlarının <br>
                 sorunsuz bir şekilde devam ettirilebilmesi ve özellikle de hormonal dengenin korunabilmesi açısından <br>
                  vücudun ihtiyaç duyduğu yağ miktarı sağlıklı kaynaklardan tam olarak karşılanmalıdır. Hayvansal kaynaklı <br>
                   katı yağlar ve margarin gibi işlem görmüş yağlardan mümkün olduğunca kaçınılmalı, bunların yerine zeytin <br>
                    yağı ve omega 3 yağ asitleri içeren balığın tüketimine özen gösterilmelidir. Yağ gereksinimi karşılanırken <br>
                     bunun sadece besinlere eklenen yağlardan ibaret olmadığı; et, süt, balık gibi besinlerin yapılarında da <br>
                      önemli miktarda yağın bulunduğu unutulmamalıdır.
             </p>
             <h1>Sağlıksız beslenmeye bağlı olarak <br> görülebilen sorunlar nelerdir?</h1>
             <p>
                Dünya üzerinde sıklıkla görülen kronik hastalıkların pek çoğu beslenme ile doğrudan bir ilişki içerisindedir. <br>
                 Buna ek olarak sağlıksız ve dengesiz beslenme ile enfeksiyon hastalıkları başta olmak üzere birçok <br>
                  akut hastalığın da ortaya çıkış riskinde artış söz konusudur. Ülkemizde ve dünyada beslenmeye bağlı <br>
                   olarak en sık görülen sağlık sorunu obezitedir. Fazla kiloluluğun ileri bir boyutu olan obezite; <br>
                    kalp ve damar hastalıkları, diyabet, hormonal hastalıklar ve metabolik sendrom gibi birçok <br>
                     hastalığın en önemli risk faktörlerinden bir tanesidir. Sağlıksız, dengesiz veya yetersiz <br>
                      beslenme durumunda ortaya çıkan kötü beslenme tablosu, tıp dilinde malnütrisyon olarak adlandırılır. <br>
                       Malnütrisyon ile birlikte sıklıkla görülen sağlık sorunlarından bazıları şunlardır:
             </p>
             <p>
                <strong>-</strong> Vitamin ve mineral eksiklikleri <br>
                <strong>-</strong>Zayıflık <br>
                <strong>-</strong>Tiroid hastalıklar <br>
                <strong>-</strong>İnfertilite (kısırlık) <br>
                <strong>-</strong>Büyüme ve gelişim geriliği <br>
                <strong>-</strong>Sık geçirilen enfeksiyonlar <br>
                <strong>-</strong>Unutkanlık, konsantrasyon güçlüğü ve bilinç bulanıklığı <br>
                <strong>-</strong>Yorgunluk ve halsizlik <br>
                <strong>-</strong> Anemi (kansızlık) <br>
                <strong>-</strong>Organ fonksiyonlarında bozulmalar <br>
                <strong>-</strong>Kemik ve eklem hastalıkları <br>
                <strong>-</strong>Kas kaybı (sarkopeni) ve kas gücünde azalma <br> <br>
                Sağlıksız, dengesiz, yetersiz veya aşırı beslenmenin uzun süreli olarak devam etmesi halinde çok daha <br>
                 ciddileşebilen ve ölüme kadar ilerleyebilen sağlık sorunlarının ortaya çıkması söz konusu olabilmektedir.
             </p>
             <h1>Sağlıklı beslenme programı nasıl oluşturulur?</h1>
             <p>
                Sağlıklı beslenme programı oluşturulurken besin yoncasından faydalanmak konunun basitleştirilmesi açısından fayda sağlayabilir. <br>
                 4 yapraktan olan besin yoncası 4 besin grubunu ifade eder. Bu gruplar süt ve süt ürünleri, et, yumurta, balık <br>
                  ve kuru baklagiller, meyve ve sebzeler ile tahıllardan oluşur. Sağlıklı bireyler süt ve süt ürünleri grubundan <br>
                   günlük olarak en az 2 porsiyon; gebelik, emzirme döneminde veya menopoz sonrası dönemdeki kadınlar ise 3-4 porsiyon tüketmelidir. <br>
                    Yine sağlıklı bireyler günde 2-3 porsiyon et veya balık tüketmelidir. Yumurta tüketimi çocuklarda veya sağlıklı <br>
                     yetişkinlerde günde 1 adet olabilirken, kalp ve damar hastalarında haftada 1-2 kez olmalıdır. Bu grupta yer alan diğer <br>
                      besinler olan kuru baklagiller haftada 2-3 kez tüketilmeli, haftanın en az 2 günü ise balık tüketimine özen gösterilmelidir. <br>
                       Değerli proteinler ve sağlıklı yağlar içeren ceviz, fındık, badem gibi besinler ise sağlıklı bireylerde günde 1-2 porsiyon <br>
                        kadar tüketilebilir. Tahıllar grubunda yer alan ekmek, makarna ve buğday, bulgur, pirinç gibi besinler, sedanter (hareketsiz) <br>
                         yaşam tarzına sahip olan bireylerde günde 6 porsiyon, ağır işlerde çalışanlar veya hareketli yaşam tarzına sahip olanlarda <br>
                          ise 7-8 porsiyon tüketilmelidir. Bunlar rafine şeker veya saflaştırılmış tahıllar yerine tam tahıllardan seçilmelidir. <br>
                           Son grup olan meyve ve sebzeler grubundan ise günlük en az 5 porsiyon tüketilmelidir. İnsanlarda günlük enerji <br>
                            gereksinimi ortalama 2000 kaloridir. Bu ortalama bir rakam olmakla birlikte erkeklerde, gençlerde ve fiziksel <br>
                             aktivite düzeyi yüksek olanlarda günlük enerji gereksinimi daha yüksek iken kadınlarda, yaşlılarda ve hareketsiz <br>
                              yaşam tarzına sahip olan bireylerde ise bu gereksinim daha düşüktür. <br> <br>

                Tüm bu bilgiler sağlıklı bireyler için geçerli olup herhangi bir hastalığı olan kişiler veya <br>
                 düzenli olarak ilaç kullananlarda beslenme programında değişiklikler yapılması gerekir. <br>
                  Bu nedenle sağlıklı beslenmeye başlamak isteyen bireylerde öncelikle rutin sağlık kontrolleri yapılmalı, <br>
                   sonrasında bunların düzenli olarak tekrarlanması sağlanmalıdır. Eğer siz de sağlıklı beslenmek için bir <br>
                    uzmandan destek almak veya mevcut hastalıklarınıza uygun sağlıklı beslenme programı oluşturmak istiyorsanız, <br>
                     sağlık kuruluşlarına başvurabilir, sağlık kontrollerinizin tamamlanmasının ardından doktor ve diyetisyen <br>
                      öncülüğünüzde beslenme rutininizi belirleyerek daha sağlıklı bir yaşam sürebilirsiniz.
             </p>
         </div>
</body>
</html>