<head>
    <link rel="stylesheet" href="boyyas.css">
</head>
<div class="yas-boy-metin">
                <h1>Yaş Aralıklarına Göre <br> İdeal Vücut Kitle İndeksi Nedir?</h1>
                <p>
                    Yaşa göre kişinin ideal vücut kitle indeksi de farklılık göstermektedir. <br>
                     Yaşlara göre olması gereken body mass index referans aralıkları aşağıda belirtilmiştir: <br>
• 19-24 yaş arası için ideal referans aralığı 19-24 BMI olmaktadır. <br>
• 25-34 yaş arasındaysanız kilonuzun boyunuzun karesine oranının 20-25 BMI aralığında olması gerekmektedir. <br>
• 35-44 yaş aralığında olanlar için ideal vücut kitle indeksi 21-26 BMI olmaktadır. <br>
• 45-54 yaş aralığı için ideal body mass index, 22-27 BMI’dır. <br>
• 55-64 yaş aralığındaysanız ideal kilonuzun boyunuzun karesine oranının 23-28 BMI olması gerekmektedir. <br>
• 65 yaş ve üzeri için vücut kitle indeksinin ideal değeri 24-29 BMI olmaktadır. <br>
                </p>
                <img src="image/boyyasim.jpg" alt="foto" class="foto">
                <h1>Boya Göre Kilo Oranı Nasıl Olmalıdır?</h1>
                <p>
                    Cinsiyete ve metabolizma hızına göre her birey için değişiklik gösterse de boyunuza göre ulaşmanız <br>
                     gereken vücut ağırlığınız için bazı örnekler aşağıda verilmiştir: <br>
• 150 cm boyunda olan bir erkek için ideal kilo 48 kg iken kadınlarda bu 43 kg olmaktadır. <br>
• 158 cm boyunda bir bireyin ideal kilosu erkekse 55 kg ve kadınsa 51 kg civarında olmalıdır. <br>
• 160 cm boy için erkeklerde 57 kg ve kadınlarda 52 kg idealdir. <br>
• 162 cm boyundaki bir kişinin son derece fit olmak istemesi durumunda, erkekse 59 kg’a ve kadınsa 54 kg’a ulaşması gerekmektedir. <br>
• Boyu 165 cm olan erkeklerde 61 kg ve kadınlarda 57 kg ideal kilo olmaktadır. <br>
• Boyu 170 cm olan kadınlar için 61 kg ideal olurken erkeklerde bu 66 kg’dır. <br>
                    <img src="image/boyimg.png" alt="foto" class="boy">
                </p>
            </div>
</body>
</html>