<head>
    <link rel="stylesheet" href="iletisim.css">
</head>
    <div class="pero">
        <form class="contact" method="POST" action="/contact/email">
            <div class="content">
                <h2>İletişim</h2>
               <p> Web Sitesi hakkındaki eleştirilerinizi veya geliştirme fikirlerinizi paylaşmaktan çekinmeyin.</p>
            </div>
            <div class="container">
                <div class="contactinfo">
                    <div class="box">
                        <div class="icon"><i class="fa-solid fa-map-location-dot"></i></div>
                        <div class="text">
                            <h3>Adres</h3>
                            <p>Bilgisayar Mühendisliği <br> Dumlupınar üniversitesi <br> Kütahya Türkiye </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa-solid fa-phone"></i></div>
                        <div class="text">
                            <h3>Telefon</h3>
                            <p>05077139502</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa-solid fa-envelope-circle-check"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>muzaffer.yilmaz0@ogr.dpu.edu.tr</p>
                        </div>
                    </div>
                </div>
                <div class="contactform">
                    <form>
                        <h2>Gönder</h2>
                        <div class="inputbox">
                            <input type="text" name="name" required="required">
                            <span>İsim Soyisim</span>
                        </div>
                        <div class="inputbox">
                            <input type="text" name="email" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputbox">
                            <textarea required="required" name="message"></textarea>
                            <span>Mesajınızı Giriniz..</span>
                        </div>
                            <div class="inputbox">
                                <input type="submit" name="" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </form>

    </div>
</body>
</html>