
<div class="banner">
               <div class="left-column">
                   <div class="search-box">
                       <img src="image/search.png" alt="search">
                       <input type="text" name="arama" id="1">
                   </div>
                   <h1> <span>Vücut Kitle İndeksi</span>  Nedir ?</h1>
                       <h3> <span>Nasıl</span> Hesaplanır ?</h3>
                       <p>Vücut kitle indeksi (VKİ), vücut ağırlığının (kg), boy uzunluğunun metre cinsinden karesine bölünmesiyle hesaplanır. <br> İdeal ağırlık ise ulaşılmak istenen
                            VKİ'nin, boy uzunluğunun karesi ile çarpılmasıyla elde edilir.
                        </p>
                        <div class="btn">
                            <a href="/hesaplama"target="_blank" rel="noopener noreferrer">
                            <button type="button" class="primary-btn" >Hemen Hesapla</button>
                        </a>
                        <a href="/Readmore" target="_blank" rel="noopener noreferrer">
                            <button type="button">Daha Fazlasını Öğren</button>
                        </a>
                        </div>
                        <div class="social-icons" >
                            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                                <img src="image/twit.png" alt="twitter">
                            </a>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                <img src="image/fb.png" alt="facebook">
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                                <img src="image/insta.png" alt="instagram">
                            </a>
                        </div>
               </div>
               <div class="right-column">
                   <img src="image/anaekran.jpg" alt="anaekran">
               </div>
           </div>
       </div>

    </body>
</html>