<head>
    <link rel="stylesheet" href="obezite.css">
</head>
<div class="obezite-metin">
             <h1>Obezite Nedir?</h1>
             <p> <strong> Obezite günümüzde gelişmiş ve gelişmekte olan ülkelerin en önemli sağlık sorunları arasında yer almaktadır. <br>
                 Obezite genel olarak bedenin yağ kütlesinin yağsız kütleye oranının aşırı artması sonucu boy uzunluğuna göre <br>
                 vücut ağırlığının arzu edilen düzeyin üstüne çıkmasıdır.</strong></p>
                 <img src="image/obezite.jpg" alt="obezite" class="foto">
                 <p>Bilindiği üzere beslenme; anne karnında başlayarak yaşamın sonlandığı ana kadar devam eden yaşamın vazgeçilmez bir ihtiyacıdır <br>
                    İnsanın büyümesi, gelişmesi, sağlıklı ve üretken olarak uzun süre yaşaması için gerekli olan besin öğelerini yeterli ve dengeli <br> 
                    miktarda alıp vücutta kullanabilmesidir.</p>
                    <p>Karın doyurmak, açlığı bastırmak, canının çektiği şeyleri yemek veya içmek değildir. <br>
                        Günlük yaşamda bireylerin (gebe, emzikli, bebek, okul çocuğu, genç, yaşlı, işçi, sporcu, kalp-damar, şeker, yüksek tansiyon hastalığı, <br>
                         solunum yolu bozuklukları vb.) yaşa, cinsiyete, yaptığı işe, genetik ve fizyolojik özelliklerine ve hastalık durumuna göre değişen günlük <br>
                          enerjiye ihtiyacı vardır. 
                        Sağlıklı bir yaşam sürdürmek için, alınan enerji ile harcanan enerjinin dengede tutulması gerekmektedir. <br>
                        Yetişkin erkeklerde vücut ağırlığının %15-18'i, kadınlarda ise %20-25'ini yağ dokusu oluşturmaktadır. Bu oranın erkeklerde %25, <br>
                         kadınlarda ise %30'un üstüne çıkması obeziteyi oluşturmaktadır.</p>
                         <p>Günlük alınan enejjinin harcanan enerjiden fazla olması durumunda, harcanamayan enerji vucutta yağ olarak depolanmakta ve <br>
                             obezite oluşumuna neden olmaktadır.
                            Buna paralel olarak, günümüz teknolojisindeki gelişmeler, yaşamı kolaylaştırmakla birlikte, <br>
                             günlük hareketleri önemli ölçüde sınırlamıştır. <br>   
                            Anlaşılacağı üzere obezite; besinlerle alınan enerjinin (kalori) harcanan enerjiden fazla olması ve fazla enerjinin <br>
                             vücutta yağ olarak depolanması (%20 veya daha fazla) sonucu ortaya çıkan, yaşam kalitesini ve süresini olumsuz yönde <br>
                              etkileyen bir hastalık olarak kabul edilmektedir. <br>
                            Dünya Sağlık Örgütü (DSÖ) tarafından da obezite, sağlığı bozacak ölçüde vücutta aşırı yağ birikmesi olarak tanımlanmıştır.</p>
                            <h1>Obezite Hesaplaması Nasıl Yapılır ?</h1>
                            <p>Obezite probleminin derecesini bilebilmek için günümüzde çok sayıda yöntem bulunmaktadır. <br>
                                 Ancak bu yöntemler içerisinde herkesin kolaylıkla hesaplama <br> yapabileceği yöntem, vücut kitle indeksi VKİ olmaktadır. <br>
                                  Bireyin ağırlığının boyunun metre cinsinden karesine bölünmesi <br> ile hesaplanmaktadır. Body mass index yani BMI olarak da isimlendirilmektedir. <br>
                                   Dünya Sağlık Örgütü’nün obezite sınıflandırmasına göre kullanılan yöntem için hesaplama örneği şöyledir: <br>
                                • 100 kilo ve 1.80 boyunda olan biri için hesaplama yapılıyor olsun. <br>
                                • 1.8×1.8 için boyun karesi 3.24 olarak hesaplanmaktadır. <br>
                                • 100/3.24 işleminin sonucu 30.8 çıkmaktadır. <br>
                                • Dünya Sağlık Örgütü’nün referans aralıkları değerlendirildiğinde, 30 kg/m2’nin üzerindeki sonuçlar <br>
                                 obez olarak tabir edildiği için bu kişi obez sınıfında yer almaktadır.</p>
                                 <img src="image/obezitemale.jpg" alt="male" class="male">
         </div>
</body>
</html>