   <head>
      <link rel="stylesheet" href="readmore.css">
   </head>
   <div class="anametin" >
    <h1>Vücut Kitle İndeksi <span> (BMI) Nedir ?</span></h1>
    <p>Vücut kitle indeksi; ağırlığın boyun karesine bölünmesi formülü ile hesaplanmaktadır. Burada ağırlık kilogram ve boy da metre cinsinden alınmaktadı. <br>
     VKİ olarak kısaltılmaktadır. Body mass index olarak da bilinmektedir ve BMI da denmektedir. <br>
     Bireyin ideal kilosunu görebilmesi ve hangi ağırlık kategorisinde olduğunu öğrenebilmesi açısından kullanılan bir formüldür. <br>
     Ancak vücut yağı ve kas kütlesi için detaylı bir bilgi vermediğinden, özellikle vücut geliştirme ile ilgilenenler için tatmin edici bir sonuç vermeyebilmektedir. <br>
     Çünkü aşırı kas kütlesine sahip olduklarından sadece boy ve ağırlık ile yapılan hesaplama sonucunda BMI değerleri yüksek çıkabilmektedir. <br>
     Ayrıca kas kütlesini kaybetmiş olan yaşlı bir bireyin yağ oranının fazla olduğu da vücut kitle indeksi ile görülememektedir.</p>
     
     <img src="image/BMI-logo.png" alt="photo" class="foto">
     <h1>Vücut Kitle İndeksi Hesaplaması <span> Nasıl Yapılır?</span></h1>
     <p>VKİ olarak kısaltılan vücut kitle indeksi hesaplaması, kilonun boyun karesine bölünmesiyle yapılmaktadı. <br>
          Ağırlığınız boyunuzun karesine bölündüğünde çıkan sonucun ifade ettiği anlam, Dünya Sağlık Örgütü’nün referans aralığı kapsamında hesaplanmaktadır. <br>
          Çıkan sonuç 30’un üzerindeyse obez, 40’ın üzerindeyse morbid obez ve 50’nin üzerindeyse süper obez olarak kabul edilmektedir. <br>
        Vücut kitle indeksi hesaplaması yapılırken sadece ağırlık ve boy dikkate alınmaktadır. <br>
        Ancak detaylı vücut kitle indeksi için hesaplama kapsamında yaş, cinsiyet, vücut yağ yüzdesi ve bel çevresi gibi değerler de dikkate alınmaktadır. <br>
        Vücut kitle indeksi hesaplaması sonucunda vücudunda sağlığını bozacak ölçüde aşırı yağ birikimi olanlar, uzman kontrolünde hesaplayarak bu değerleri kendileri için <br>
         ideal olan seviyeye getirebilmektedirler.</p>
         <img src="image/bmi.png" alt="bmi" class="foto">
         <h1>Vücut Kitle İndeksi Hesaplamasında <span> Obezite </span> <br> Sınıflandırması <span> Nasıl Yapılır?</span></h1>
         <p>Dünya Sağlık Örgütü’nün yaptığı obezite sınıflandırmasında çıkan vücut kitle endeksi değeri kapsamında yapılması gereken yorumlar aşağıdaki gibidir: <br>
            • 18.5 kg/m2’nin altında olanlara zayıf denmektedir. <br>
            • 18.5 kg/m2 ile 24.9 kg/m2 arasında olanlar normal kilolu kabul edilmektedir. <br>
            • Fazla kiloda olup olmadığınızı merak ederek vücut kitle indeksi hesaplaması yaptırdığınızda; <br> sonuç 25 kg/m2 ile 29.9 kg/m2 arasında çıkmış ise, fazla kilolu kabul edilmektesiniz. <br>
            • Hesaplama sonrasında 30 kg/m2 ile 39.9 kg/m2 arasında sonuca ulaşanlara obez denmektedir. <br>
            • 40 kg/m2 üzerinde çıkan sonuçlar için ileri derecede obez, yani morbid obez denmektedir.</p>
            <img src="image/more.jpg" alt="more" class="more">
    
</div>
</div>