<head>
    <link rel="stylesheet" href="sorular.css">
</head>
<div class="sorular-metin">
             <h1>Çocuklarda Vücut Kitle İndeksi <br> Sonuçları Nasıl Değerlendirilir?</h1>
             <img src="image/kid.jpg" alt="foto" class="foto">
             <p>
                Genç ve çocuklarda vücut kitle indeksi hesaplamaları aynı şekilde yapılmakta ancak sonuçların değerlendirmesi <br>
                 farklı olmaktadır. 2-18 yaş arası çocukların vücut kitle indeks değerleri aynı çıkmış olsa dahi, bir tanesi <br>
                  ideal kilosunda olarak görülebilirken diğeri obez çıkabilmektedir. Sadece boy uzunluğuna bağlı olarak değil, <br>
                   yaşa ve cinsiyete göre de vücut kitle indeksinin değerlendirmesi farklılık göstermektedir. Metabolizma hız <br>
                    ölçümü gibi çok sayıda ölçümün uzman bir hekim tarafından yapılıp değerlendirmesi ile vücut kitle indeks <br>
                     sonucu daha doğru yorumlanabilmektedir.
             </p>
             <h1>Vücut Kitle İndeksinin 20’den <br> Küçük Çıkması Ne Anlama Gelir?</h1>
             <img src="image/thin.jpg" alt="foto" class="foto">
             <p>
                Ağırlığınız boyunuzun karesine bölündüğünde eğer 20’den daha küçük bir değer elde ediliyor ise; <br>
                 bunu zayıf olduğunuz şeklinde yorumlamanız gerekmektedir. Ancak bu zayıflık bazı hastalıklara <br>
                  zemin hazırlayabileceği için istenmeyen bir durum olmaktadır. Normal vücut kitle indeksine sahip <br>
                   bir birey olarak kabul edilmek için yeterli ve dengeli beslenmeye özen gösterilmelidir. <br>
                    Aynı zamanda beslenme ile yeterli düzeyde alınamayan mikro besinler için de multivitamin kullanılabilmektedir.
             </p>
             <h1>Vücut Kitlesi İndeksi Normal Olanlar <br> Bunu Korumak İçin Ne Yapmalıdır?</h1>
             <img src="image/fit.jpg" alt="foto" class="foto">
             <p>
                Dünya Sağlık Örgütü’nün belirlediği referans aralığında normal seviyede çıkanlar, <br>
                 boyları ile uygun kiloda olmaktadırlar. İdeal kilonuzun korunabilmesi için yeterli <br>
                  ve dengeli beslenmeye devam etmeniz, aynı zamanda düzenli fiziksel aktivite yapmayı da <br>
                   ihmal etmemeniz gerekmektedir. Fiziksel aktivite ile mevcut kiloyu koruyabilmek daha kolay olmaktadır. <br>
                    Vücut kitle endeksi normal aralıkta çıkanlar eğer günde ortalama 5-9 porsiyon meyve ya da sebze <br>
                     tüketmiyorlarsa, bazı besin değerlerini eksik alıyorlarsa; vücudun ihtiyaç duyduğu mikro <br>
                      besinleri tam alabilmek için multivitamin tüketebilmektedirler.
             </p>
             <h1>Vücut Kitle İndeksi 25-30 Aralığında <br> Olanlar Ne Yapmalıdır?</h1>
             <img src="image/fat.jpg" alt="foto" class="foto">
             <p>
                Vücut kitle indeksi hesaplandığında değer eğer 25 ile 30 arasında çıkar ise, birey fazla <br>
                 kilolu olarak sınıflandırılmaktadır. Boyuna göre kilosu fazla olduğu için ideal kilosuna <br>
                  erişmeye çalışmalıdır. İdeal kilonun bireye verdiği hareket özgürlüğünü keşfetmek için yeni <br>
                   beslenme alışkanlıkları edinmesi gerekmektedir. Boyuna göre ideal olan ağırlığa uygun şekilde <br>
                    yeterli ve dengeli beslenmelidir. Aksi takdirde pek <br>
                     çok rahatsızlığa yakalanma riski oldukça yüksek olmaktadır.
             </p>
             <h1>Vücut Kitle İndeksine Göre <br> Obez Birinci Sınıf Olanlar Kimlerdir?</h1>
             <p>
                Obez birinci sınıf olarak sayılanlar, vücut kitle indeksi 30 ile 35 arasında çıkanlardır. <br>
                 Boyunuza göre vücut ağırlığınızın fazla olduğu ve bunun için önlem almanız gerektiği yönünde uyarı <br>
                  veren bir referans aralığıdır. Bir sağlık kuruluşuna başvurularak kontrollü bir şekilde ideal ağırlığa inilmelidir. <br>
                   Eğer uzman hekim ya da diyetisyen kontrolünde kilo verilmez ise ilerleyen zamanda birçok kronik rahatsızlığa <br>
                    yakalanmak kaçınılmaz olmaktadır. Kalp hastalıklarına, damar rahatsızlıklarına, diyabete ve hipertansiyona <br>
                     yakalanma riskini arttıran bir referans aralığıdır.
             </p>
             <img src="image/obezrank.jpg" alt="foto" class="rank">
             <h1>Vücut Kitle İndeksi Hesaplamasına Göre <br> Obez İkinci Sınıflar <br> İçin Risk Faktörleri Nelerdir?</h1>
             <p>
                 Vücut kitle indeksinin 35 ile 40 arasında olması, obez ikinci sınıf olarak adlandırılmaktadır. <br>
                  Vücut ağırlığınız boyunuza göre fazla olduğu için normal ağırlığınıza inerek daha sağlıklı bir <br>
                   birey olmanız gerekmektedir. Daha sağlıklı şekilde kilo verebilmek ve vücudun ihtiyaç duyduğu <br>
                    besinleri doğru şekilde tüketebilmek için uzman hekim ya da diyetisyen kontrolünde kilo verilmelidir. <br>
                     Vücut kitle indeksi bu aralıkta olmasına rağmen ideal kilosuna inmek için çaba sarf etmeyenler, <br>
                      kiloya bağlı olarak çeşitli kronik rahatsızlıklara yakalanabilmektedirler. Kalp ve damar rahatsızlıkları, <br>
                       diyabet, hipertansiyon gibi kronik hastalıklar için risk içermektedir.
             </p>
             <h1>VKİ Değeri Obez Üçüncü Sınıf <br> Çıkanlar Ne Yapmalıdır?</h1>
             <img src="image/danger.jpg" alt="foto" class="foto">
             <p>
                Obez üçüncü sınıf çıkılması için vücut kitle indeksinin 40-45 aralığında olması gerekmektedir. <br>
                 Kilonuzun boy ile kıyaslandığında fazla olduğu ve bu yüzden normal ağırlığa inmek için kilo verilmesi <br>
                  gerektiği anlamına gelmektedir. İdeal boy kilo oranına tekrar ulaşılabilmesi için beslenme alışkanlıkları <br>
                   değiştirilmelidir. Vücudun ihtiyaç duyduğu düzeyde protein, yağ ve karbonhidrat almaya özen <br>
                    gösterilmesinin yanı sıra vitamin ve minerallerin de günlük olarak yeterli düzeyde alınması gerekmektedir. <br>
                     Aksi takdirde başta kalp rahatsızlığı olmak üzere pek çok kronik <br>
                      rahatsızlığa yakalanabilme riski oldukça fazla olmaktadır.
             </p>
             <h1>
                Vücut Kitle İndeksi Hesaplaması <br> Obezite Hesaplaması İçin Yeterli Bilgi Verir Mi?
             </h1>
             <p>
                Vücut kitle indeksi hesaplanırken hesaplamaya vücut yağ ve kas dokusu, yağ oranı, vücut tipi <br>
                 gibi etmenler eklenmemektedir. Dolayısı ile obezite tanısı konulabiliyor olsa da obezite problemi ile <br>
                  ilgili detaylı bilgi veren bir hesaplama yöntemi değildir. Bu nedenle aşırı kilolu ve <br>
                   obez bireylerde vücut kitle indeksi hesaplamasına ek olarak bel çevresinin ölçümü, metabolizma <br>
                    hızı ölçümü ve detaylı vücut analizi yapılması gerekmektedir. Obezite probleminin çözüme ulaştırılabilmesi <br>
                     için vücudun yağ topladığı bölgenin bilinmesi gerekmektedir. Doğru tanı konmasında ve tedavi edilmesinde <br>
                      vücut kitle indeksi hesaplaması tek başına yeterli değildir. <br>
                       Vücudun yağ dokusunun birikme şekilleri ise aşağıda verilmiştir: <br>
                • Elma tip: Yağ dokunun göbek çevresinde birikmesi durumudur. Yağın kalça ya da basen bölgesinde <br>
                 birikmesine göre daha tehlikeli sonuçlar ortaya <br>
                  koyabilmektedir. Elma tip obezite problemi <br>
                  yaşayanlarda kalp hastalıklarına yakalanma riskinin daha fazla olduğu bilinmektedir. <br>
                • Armut tip: Kalça ve basen bölgesinde yağ dokunun birikmesine verilen isimdir. <br>
                 Obezite erkeklerde bel çevresinin ölçüsü 94 cm’yi geçtiğinde artmış risk ve 102 cm’yi <br>
                  geçtiğinde de yüksek risk olarak görülmektedir. Kadınlarda ise artmış risk <br>
                   için ölçü 80 cm ve yüksek risk için ölçü de 88 cm olmaktadır.
             </p>
             <h1>Vücut Kitle İndeksi Haricinde <br> Obezite Hesaplamasında Neler Dikkate Alınır?</h1>
             <p>
                Vücutta yağ dokunun birikmesi ile beraber zararlı hormon salgılanması da artmaktadır. <br>
                 Bel çevresinde yoğun yağ birikimi, çok sayıda sağlık problemini meydana getirebilmektedir. <br>
                  Aynı zamanda bel çevresi ölçümü de obezitenin derecesinin tespit edilmesinde yardımcı olmaktadır. <br>
                   Sağlıklı kas dokunun zararlı yağ dokusuna oranı ile obezite hesaplaması yapılabilmektedir. <br>
                    Bu bilgiler ile bireyin sağlıklı olup olmadığını tespit edebilmesi ve buna göre obezite probleminin <br>
                     çözülmesi için adım atabilmesi mümkün olmaktadır. Yetişkin erkek bireylerde <br>
                      yağ oranı %12 ile %18 arasındayken ve yetişkin kadınlarda %20 ile %28 arasındayken <br>
                       yağ oranı normal kabul edilmektedir. Ancak erkeklerde %25’in ve kadınlarda %30’un üzerine <br>
                        çıkarsa obezite hesaplamasında bunlar da dikkate alınmaktadır. Web ve mobil üzerinden hesaplama  <br>
                        için gerekli olan bilgileri girerek bireyin ideal kiloda <br>
                         olup olunmadığına dair hesaplamalar yapılabilmektedir.
             </p>
         </div>
</body>
</html>