<head>
    <link rel="stylesheet" href="tip12.css">
</head>
<div class="tip12-metin">
      <h1>Tip 1 ve Tip 2 Diyabet <br> Arasındaki Fark Nedir?</h1>
      <p>
        Şeker hastalığı, ya da diyabet (Diabetes Mellitus), pankreasın vücut için yeterli miktarda insülin <br>
         üretememesi ya da ürettiği insülinin vücut tarafından etkili bir şekilde kullanılamaması sonucunda ortaya <br>
          çıkan yüksek kan şekeri nedeniyle gelişen hastalık tür ve gruplarına genel olarak verilen isimdir. <br>
           Diyabetin 2 çeşidi vardır. Bunlar: <strong> Tip 1 ve Tip 2 diyabet.</strong> Teknik olarak her ikisi de diyabet, yani şeker <br>
            hastalığı çatısı altında toplansa da, Tip 1 ve Tip 2 diyabet aslında çok farklı hastalıklardır ve <br>
             farklı tedavilere ihtiyaç duyarlar.  Tip 1 diyabet, genelde 30 yaş altı ve tamamen insülin eksikliği ile karakterizedir. <br>
              Tip 1 diyabet, diğerine göre daha nadir olarak görülür. Tip 2 diyabet ise toplumun çoğunda daha sık görülmekte olup, <br>
               genellikle 30 yaşından sonra ve genetik temelli olarak ortaya çıkar.
      </p>
      <img src="image/doc.jpg" alt="foto" class="foto">
      <p>
        Tip 1 diyabetin yaşam tarzıyla hiçbir ilgisi yoktur. Otoimmun, yani bağışıklık sisteminin kendi dokularına saldırmasıyla <br>
         ilgili bir hastalıktır. Tip 1 diyabetin de kalıtımsal olma eğilimi vardır. Genellikle viral enfeksiyon gibi bir neden, <br>
          vücudun pankreasın beta hücrelerini düşman olarak tanımasını başlatır ve bu saldırı nedeniyle pankreas bir süre sonra <br>
           insülin üretemez hale gelir. Öte yandan Tip 2 diyabet ise büyük ölçüde yaşam tarzı ile alakalıdır ancak ailede <br>
            Tip 2 diyabeti olan biri varsa sizin de yakalanma olasılığınız normalden yüksektir. Özellikle de fazla kilolularda <br>
             ve elma tipi obeziteye sahip kişilerde bu oran daha da yükselir.
      </p>
      <h1>Şeker Hastası olduğumuzu nasıl anlarız ?</h1>
      <p>
        Tip 1 diyabetin belirtileri sıklıkla çok hızla ilerlemektedir. <br>
         Belirtilerin hızlı ilerlemesine rağmen tanı konmadan önce farkında olmayan hastalar da olabilir. <br>
          Bununla birlikte, Tip 2 diyabetin belirtileri genelde çok hafiftir ve yanlış anlaşılması çok kolaydır. <br>
           Bunların sadece stresten ve hayatın doğal sıkıntılarından kaynaklandığını düşünebilirsiniz. <br>
            Belirtiler aynı olmasına ve kan şekerinin yükselmesine bağlı olmasına karşın, Tip 1 diyabette çok daha dramatiktir. <br>
             Çok su içme, sık idrara çıkma, kilo kaybı, halsizlik, ağız kuruluğu, bulanık görme <br>
              ve inatçı enfeksiyonlar gibi şikayetler hastalığın yaygın belirtilerindendir. <br>
               Şeker hastalığının tanısı için açlık kan şekerinin 126 mg/Dl'nin üzerinde olması ya da 2. saat <br>
                tokluk kan şekerinin 200 mg/Dl’nin üzerinde olması, HgA1c (2-3 aylık şeker ortalaması) <br>
                 düzeyinin % 6,5 üzerinde olması diyabet tanısı koymak için yeterlidir.
      </p>
  </div>
</body>
</html>